In [1]:
dict1={
    "april_batch":{
        "student":{
            "name":"Mike",
            "marks":{
                "python":80,
                "maths":70,
            }
        }
    }
}
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [3]:
#access mike
dict1['april_batch']['student']['name']

'Mike'

In [4]:
#access 80
dict1['april_batch']['student']['marks']

{'python': 80, 'maths': 70}

In [5]:
dict1['april_batch']['student']['marks']['python']

80

In [6]:
dict1['april_batch']['student']['marks']['maths']

70

In [9]:
#change mike to VENU
dict1['april_batch']['student']['name']='VENU'
dict1

{'april_batch': {'student': {'name': 'VENU',
   'marks': {'python': 80, 'maths': 70}}}}

In [17]:
#add ML & DL in marks
dict1['april_batch']['student']['marks']['ML']='80'
dict1

{'april_batch': {'student': {'name': 'VENU',
   'marks': {'python': 80, 'maths': 70, 'ML': '80'}}}}

In [18]:
dict1['april_batch']['student']['marks']['DL']='80'
dict1

{'april_batch': {'student': {'name': 'VENU',
   'marks': {'python': 80, 'maths': 70, 'ML': '80', 'DL': '80'}}}}